* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    background-color: dodgerblue;
    height: 120px;
    
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main {
    padding-top: 100px;

    h2 {
        font-size: 35px;
    }
    p {
        padding: 20px 0px;
        line-height: 20px;
    }
    button {
        width: 200px;
        height: 40px;
        border: none;
        color: white;
        background-color: dodgerblue;
        border-radius: 10px;
        font-weight: 500;
        font-size: 15px;
        margin-right: 40px;
        margin-top: 20px;

        a {
            color: white;
            text-decoration: none;
        }
        a:visited {
            color: white;
        }
    }
    .benefits {
        background-color: orange;
        width: 240px;

    }
    button:hover {
        background-color: rgb(6, 175, 6);
        color: white;
        transform: scale(1.1);
        transition: all 1s ease;
    }
}
